In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
Int_DF = pd.read_excel('SampleData.xlsx',sheet_name='Intersections')
Int_DF.index = Int_DF.Int_ID
Int_DF['TotCrashes'] = Int_DF.Tot_Crash_Y1+Int_DF.Tot_Crash_Y2+Int_DF.Tot_Crash_Y3
Crash_DF = pd.read_excel('SampleData.xlsx',sheet_name='Crashes')
Crash_DF.index = Crash_DF.Int_ID
Int_DF['Fatal'] = Crash_DF.Fatal.loc[Int_DF.index]
Int_DF['Injury'] = Crash_DF.Injury.loc[Int_DF.index]
Int_DF['PDO'] = Crash_DF.PDO.loc[Int_DF.index]
F1 = ['Int_ID', 'Traf_Ctrl', 'Leg_Count', 'AADT_Major', 'AADT_Minor', 'TotCrashes']
#df = pd.DataFrame(columns=list(set(Int_DF.AADT_Major)),index = list(set(Int_DF.AADT_Minor)))
display(Int_DF)
display(Crash_DF)

,Int_ID,Traf_Ctrl,Leg_Count,AADT_Major,AADT_Minor,Tot_Crash_Y1,Tot_Crash_Y2,Tot_Crash_Y3,TotCrashes,Fatal,Injury,PDO
Int_ID,,,,,,,,,,,,
1,1,Signal,4,30100,4800,9,8,5,22,0,6,16
2,2,TWSC,4,12000,1200,9,11,15,35,2,23,10
3,3,TWSC,4,18000,800,9,8,6,23,0,13,10
4,4,Signal,4,11200,10900,8,2,3,13,0,5,8
5,5,Signal,4,30700,18400,3,7,5,15,0,4,11
6,6,Signal,4,31500,3600,6,1,2,9,0,2,7
7,7,TWSC,4,21000,1000,11,9,14,34,1,17,16
8,8,Signal,4,23800,22300,2,4,3,9,0,2,7
9,9,Signal,4,47000,8500,15,12,10,37,0,22,15
10,10,TWSC,4,15000,1500,7,6,4,17,0,7,10
11,11,Signal,4,42000,1950,12,15,11,38,1,19,18
12,12,Signal,4,46000,18500,10,14,8,32,0,15,17
13,13,Signal,4,11400,11400,4,1,1,6,0,2,4
14,14,Signal,4,24800,21200,5,3,2,10,0,5,5
15,15,TWSC,4,26000,500,6,3,8,17,1,4,12
16,16,Signal,4,12400,7300,7,11,3,21,0,11,10
17,17,TWSC,4,14400,3200,4,4,5,13,1,5,7
18,18,Signal,4,17600,4500,2,10,7,19,0,8,11
19,19,TWSC,4,15400,2500,5,2,4,11,1,5,5
20,20,Signal,4,54500,5600,4,2,2,8,0,3,5

,Int_ID,Total,Fatal,Injury,PDO,Rear_end,SS,Right_Angle,Ped,Bike,Head_On,FO,Other
Int_ID,,,,,,,,,,,,,
1,1,22,0,6,16,11,4,4,0,0,0,1,2
2,2,35,2,23,10,4,2,21,0,2,5,0,1
3,3,23,0,13,10,11,5,2,1,0,0,4,0
4,4,13,0,5,8,7,2,3,0,0,0,1,0
5,5,15,0,4,11,9,4,2,0,0,0,0,0
6,6,9,0,2,7,3,2,3,0,0,0,1,0
7,7,34,1,17,16,19,7,5,0,0,0,3,0
8,8,9,0,2,7,4,3,1,0,0,0,0,1
9,9,37,0,22,15,14,4,17,2,0,0,0,0
10,10,17,0,7,10,9,4,2,0,0,0,1,1
11,11,38,1,19,18,6,5,23,0,0,4,0,0
12,12,32,0,15,17,12,2,14,1,0,2,0,1
13,13,6,0,2,4,3,1,2,0,0,0,0,0
14,14,10,0,5,5,5,1,1,1,0,0,1,1
15,15,17,1,4,12,9,4,1,0,0,0,1,2
16,16,21,0,11,10,8,4,7,0,0,0,1,1
17,17,13,1,5,7,6,2,2,0,0,1,0,2
18,18,19,0,8,11,8,7,3,0,0,0,0,1
19,19,11,1,5,5,5,4,0,1,0,0,0,1
20,20,8,0,3,5,2,3,2,0,0,0,1,0

In [3]:
#4.4.2.1 Crash Freq
Int_DF['CrashFreq'] = Int_DF['TotCrashes']/3.0
Int_DF.sort_values('CrashFreq',ascending=False)[F1 + ['CrashFreq']]

,Int_ID,Traf_Ctrl,Leg_Count,AADT_Major,AADT_Minor,TotCrashes,CrashFreq
Int_ID,,,,,,,
11,11,Signal,4,42000,1950,38,12.666667
9,9,Signal,4,47000,8500,37,12.333333
2,2,TWSC,4,12000,1200,35,11.666667
7,7,TWSC,4,21000,1000,34,11.333333
12,12,Signal,4,46000,18500,32,10.666667
3,3,TWSC,4,18000,800,23,7.666667
1,1,Signal,4,30100,4800,22,7.333333
16,16,Signal,4,12400,7300,21,7.000000
18,18,Signal,4,17600,4500,19,6.333333
10,10,TWSC,4,15000,1500,17,5.666667
15,15,TWSC,4,26000,500,17,5.666667
5,5,Signal,4,30700,18400,15,5.000000
4,4,Signal,4,11200,10900,13,4.333333
17,17,TWSC,4,14400,3200,13,4.333333
19,19,TWSC,4,15400,2500,11,3.666667
14,14,Signal,4,24800,21200,10,3.333333
8,8,Signal,4,23800,22300,9,3.000000
6,6,Signal,4,31500,3600,9,3.000000
20,20,Signal,4,54500,5600,8,2.666667
13,13,Signal,4,11400,11400,6,2.000000

In [36]:
#4.4.2.2 Crash Rate
Int_DF['MEV'] = Int_DF.AADT_Major + Int_DF.AADT_Minor
Int_DF['MEV'] = Int_DF['MEV']/1000000*3*365
Int_DF['CrashRate'] = Int_DF.TotCrashes/Int_DF.MEV
Int_DF.sort_values('CrashRate',ascending=False)[F1 + ['MEV','CrashRate']]

,Int_ID,Traf_Ctrl,Leg_Count,AADT_Major,AADT_Minor,TotCrashes,MEV,CrashRate
Int_ID,,,,,,,,
2,2,TWSC,4,12000,1200,35,14.45400,2.421475
7,7,TWSC,4,21000,1000,34,24.09000,1.411374
3,3,TWSC,4,18000,800,23,20.58600,1.117264
16,16,Signal,4,12400,7300,21,21.57150,0.973507
10,10,TWSC,4,15000,1500,17,18.06750,0.940916
11,11,Signal,4,42000,1950,38,48.12525,0.789606
18,18,Signal,4,17600,4500,19,24.19950,0.785140
17,17,TWSC,4,14400,3200,13,19.27200,0.674554
9,9,Signal,4,47000,8500,37,60.77250,0.608828
15,15,TWSC,4,26000,500,17,29.01750,0.585853
1,1,Signal,4,30100,4800,22,38.21550,0.575683
19,19,TWSC,4,15400,2500,11,19.60050,0.561210
4,4,Signal,4,11200,10900,13,24.19950,0.537201
12,12,Signal,4,46000,18500,32,70.62750,0.453081
5,5,Signal,4,30700,18400,15,53.76450,0.278995
13,13,Signal,4,11400,11400,6,24.96600,0.240327
6,6,Signal,4,31500,3600,9,38.43450,0.234165
14,14,Signal,4,24800,21200,10,50.37000,0.198531
8,8,Signal,4,23800,22300,9,50.47950,0.178290
20,20,Signal,4,54500,5600,8,65.80950,0.121563

In [37]:
#4.4.2.3 EPDO
Cost_DF = pd.DataFrame(columns=['Cost','Weight','Severity'])
Cost_DF.Severity = ['Fatal','Injury','PDO']
Cost_DF.index = Cost_DF.Severity
Cost_DF.Cost = [4008900,82600,7400]
Cost_DF.Weight = Cost_DF.Cost/Cost_DF.loc['PDO','Cost']
display(Cost_DF)
Int_DF['EPDO_Score'] = Int_DF.Fatal*Cost_DF.loc['Fatal','Weight']+Int_DF.Injury*Cost_DF.loc['Injury','Weight']+Int_DF.PDO*Cost_DF.loc['PDO','Weight']
Int_DF.sort_values('EPDO_Score',ascending=False)[F1 + ['EPDO_Score']]

             Cost      Weight Severity
Severity
Fatal     4008900  541.743243    Fatal
Injury      82600   11.162162   Injury
PDO          7400    1.000000      PDO

,Int_ID,Traf_Ctrl,Leg_Count,AADT_Major,AADT_Minor,TotCrashes,EPDO_Score
Int_ID,,,,,,,
2,2,TWSC,4,12000,1200,35,1350.216216
11,11,Signal,4,42000,1950,38,771.824324
7,7,TWSC,4,21000,1000,34,747.500000
17,17,TWSC,4,14400,3200,13,604.554054
19,19,TWSC,4,15400,2500,11,602.554054
15,15,TWSC,4,26000,500,17,598.391892
9,9,Signal,4,47000,8500,37,260.567568
12,12,Signal,4,46000,18500,32,184.432432
3,3,TWSC,4,18000,800,23,155.108108
16,16,Signal,4,12400,7300,21,132.783784
18,18,Signal,4,17600,4500,19,100.297297
10,10,TWSC,4,15000,1500,17,88.135135
1,1,Signal,4,30100,4800,22,82.972973
4,4,Signal,4,11200,10900,13,63.810811
14,14,Signal,4,24800,21200,10,60.810811
5,5,Signal,4,30700,18400,15,55.648649
20,20,Signal,4,54500,5600,8,38.486486
8,8,Signal,4,23800,22300,9,29.324324
6,6,Signal,4,31500,3600,9,29.324324
13,13,Signal,4,11400,11400,6,26.324324

In [38]:
# 4.4.2.4 Relative Severity Index RSI
Cost_Type_DF = pd.DataFrame(columns=['Cost'],index = ['Rear_end_SG','Rear_end_ST','SS','Right_Angle_SG','Right_Angle_ST','Ped_Bike','Head_On_SG','Head_On_ST','FO','Other'])
Cost_Type_DF['Cost'] = [26700,13200,34000,47300,61100,158900,24100,47500,94700,55100]
Cost_Type_DF['Type'] = Cost_Type_DF.index.to_series()
display(Cost_Type_DF)
Int_DF['RSI_Sum'] = 0
for i in Int_DF[Int_DF.Traf_Ctrl=='Signal'].index:
    for c1,c2 in zip(['Rear_end_SG','SS','Right_Angle_SG','Ped_Bike','Ped_Bike','Head_On_SG','FO','Other'],
                     ['Rear_end'   ,'SS','Right_Angle'   ,'Ped'     ,'Bike'    ,'Head_On'   ,'FO','Other']):
        Int_DF.loc[i,'RSI_Sum'] += Crash_DF.loc[i,c2] * Cost_Type_DF.loc[c1,'Cost']
for i in Int_DF[Int_DF.Traf_Ctrl=='TWSC'].index:
    for c1,c2 in zip(['Rear_end_ST','SS','Right_Angle_ST','Ped_Bike','Ped_Bike','Head_On_ST','FO','Other'],
                     ['Rear_end'   ,'SS','Right_Angle'   ,'Ped'     ,'Bike'    ,'Head_On'   ,'FO','Other']):
        Int_DF.loc[i,'RSI_Sum'] += Crash_DF.loc[i,c2] * Cost_Type_DF.loc[c1,'Cost']
Int_DF['RSI_Ave'] = Int_DF['RSI_Sum'] / Int_DF.TotCrashes
#Int_DF['RSI_Ave'] = Int_DF['RSI_Ave'] // 100 * 100
Int_DF.loc[Int_DF.Traf_Ctrl=='Signal','RSI_Pop_Ave'] = Int_DF[Int_DF.Traf_Ctrl=='Signal']['RSI_Sum'].sum()/Int_DF[Int_DF.Traf_Ctrl=='Signal']['TotCrashes'].sum()
Int_DF.loc[Int_DF.Traf_Ctrl=='TWSC','RSI_Pop_Ave'] = Int_DF[Int_DF.Traf_Ctrl=='TWSC']['RSI_Sum'].sum()/Int_DF[Int_DF.Traf_Ctrl=='TWSC']['TotCrashes'].sum()
Int_DF['Exceed_Ave_RSI'] = Int_DF.RSI_Ave>Int_DF.RSI_Pop_Ave
Int_DF.sort_values('RSI_Ave',ascending=False)[F1 + ['RSI_Sum','RSI_Ave','RSI_Pop_Ave','Exceed_Ave_RSI']]

                  Cost            Type
Rear_end_SG      26700     Rear_end_SG
Rear_end_ST      13200     Rear_end_ST
SS               34000              SS
Right_Angle_SG   47300  Right_Angle_SG
Right_Angle_ST   61100  Right_Angle_ST
Ped_Bike        158900        Ped_Bike
Head_On_SG       24100      Head_On_SG
Head_On_ST       47500      Head_On_ST
FO               94700              FO
Other            55100           Other

,Int_ID,Traf_Ctrl,Leg_Count,AADT_Major,AADT_Minor,TotCrashes,RSI_Sum,RSI_Ave,RSI_Pop_Ave,Exceed_Ave_RSI
Int_ID,,,,,,,,,,
2,2,TWSC,4,12000,1200,35,2014300,57551.428571,39723.333333,True
14,14,Signal,4,24800,21200,10,523500,52350.000000,39736.820084,True
9,9,Signal,4,47000,8500,37,1631700,44100.000000,39736.820084,True
20,20,Signal,4,54500,5600,8,344700,43087.500000,39736.820084,True
6,6,Signal,4,31500,3600,9,384700,42744.444444,39736.820084,True
3,3,TWSC,4,18000,800,23,975100,42395.652174,39723.333333,True
12,12,Signal,4,46000,18500,32,1312800,41025.000000,39736.820084,True
11,11,Signal,4,42000,1950,38,1514500,39855.263158,39736.820084,True
16,16,Signal,4,12400,7300,21,830500,39547.619048,39736.820084,False
19,19,TWSC,4,15400,2500,11,416000,37818.181818,39723.333333,False
4,4,Signal,4,11200,10900,13,491500,37807.692308,39736.820084,False
1,1,Signal,4,30100,4800,22,823800,37445.454545,39736.820084,False
13,13,Signal,4,11400,11400,6,208700,34783.333333,39736.820084,False
8,8,Signal,4,23800,22300,9,311200,34577.777778,39736.820084,False
18,18,Signal,4,17600,4500,19,648600,34136.842105,39736.820084,False
17,17,TWSC,4,14400,3200,13,427100,32853.846154,39723.333333,False
7,7,TWSC,4,21000,1000,34,1078400,31717.647059,39723.333333,False
5,5,Signal,4,30700,18400,15,470900,31393.333333,39736.820084,False
10,10,TWSC,4,15000,1500,17,526800,30988.235294,39723.333333,False
15,15,TWSC,4,26000,500,17,520800,30635.294118,39723.333333,False

In [41]:
# 4.4.2.5 Critical Rate
from scipy import stats
pvalue = stats.norm.ppf(.95)
Int_DF['WA_Crash_Rate'] =  pd.Series(Int_DF.groupby(Int_DF.Traf_Ctrl).apply(lambda DF:sum(DF.CrashRate*DF.MEV)/DF.MEV.sum()).loc[Int_DF.Traf_Ctrl].tolist(),index = Int_DF.index)
Int_DF['CriticalRate'] =  Int_DF.apply(lambda row:row.WA_Crash_Rate+pvalue*np.sqrt(row.WA_Crash_Rate/row.MEV)+(0.5/row.MEV),axis=1)
Int_DF['ExceedsCR'] = Int_DF.CriticalRate<Int_DF.CrashRate
Int_DF[F1 + ['MEV','CrashRate','WA_Crash_Rate','CriticalRate','ExceedsCR']]

,Int_ID,Traf_Ctrl,Leg_Count,AADT_Major,AADT_Minor,TotCrashes,MEV,CrashRate,WA_Crash_Rate,CriticalRate,ExceedsCR
Int_ID,,,,,,,,,,,
1,1,Signal,4,30100,4800,22,38.21550,0.575683,0.418172,0.603318,False
2,2,TWSC,4,12000,1200,35,14.45400,2.421475,1.033859,1.508361,True
3,3,TWSC,4,18000,800,23,20.58600,1.117264,1.033859,1.426761,False
4,4,Signal,4,11200,10900,13,24.19950,0.537201,0.418172,0.655056,False
5,5,Signal,4,30700,18400,15,53.76450,0.278995,0.418172,0.572535,False
6,6,Signal,4,31500,3600,9,38.43450,0.234165,0.418172,0.602752,False
7,7,TWSC,4,21000,1000,34,24.09000,1.411374,1.033859,1.395367,True
8,8,Signal,4,23800,22300,9,50.47950,0.178290,0.418172,0.577786,False
9,9,Signal,4,47000,8500,37,60.77250,0.608828,0.418172,0.562842,True
10,10,TWSC,4,15000,1500,17,18.06750,0.940916,1.033859,1.455000,False
11,11,Signal,4,42000,1950,38,48.12525,0.789606,0.418172,0.581888,True
12,12,Signal,4,46000,18500,32,70.62750,0.453081,0.418172,0.551818,False
13,13,Signal,4,11400,11400,6,24.96600,0.240327,0.418172,0.651077,False
14,14,Signal,4,24800,21200,10,50.37000,0.198531,0.418172,0.577970,False
15,15,TWSC,4,26000,500,17,29.01750,0.585853,1.033859,1.361566,False
16,16,Signal,4,12400,7300,21,21.57150,0.973507,0.418172,0.670366,True
17,17,TWSC,4,14400,3200,13,19.27200,0.674554,1.033859,1.440777,False
18,18,Signal,4,17600,4500,19,24.19950,0.785140,0.418172,0.655056,True
19,19,TWSC,4,15400,2500,11,19.60050,0.561210,1.033859,1.437136,False
20,20,Signal,4,54500,5600,8,65.80950,0.121563,0.418172,0.556887,False

In [64]:
#4.4.2.6 Exess Predic. Ave. Crash Fq. using method of moments
Int_DF['G_Crash_Fq_A'] =  pd.Series(Int_DF.groupby(Int_DF.Traf_Ctrl).apply(lambda DF:DF.CrashFreq.mean()).loc[Int_DF.Traf_Ctrl].tolist(),index = Int_DF.index)
Int_DF['G_Crash_Fq_V'] =  pd.Series(Int_DF.groupby(Int_DF.Traf_Ctrl).apply(lambda DF:np.var(DF.CrashFreq,ddof=1)).loc[Int_DF.Traf_Ctrl].tolist(),index = Int_DF.index)
Int_DF['Crash_Fq_Adj'] = Int_DF.apply(lambda row:row.CrashFreq+row.G_Crash_Fq_A/row.G_Crash_Fq_V*(row.G_Crash_Fq_A-row.CrashFreq),axis=1)
Int_DF['PI'] = Int_DF.Crash_Fq_Adj - Int_DF.G_Crash_Fq_A
Int_DF.sort_values('PI',ascending=False)[F1 + ['CrashFreq','G_Crash_Fq_A','G_Crash_Fq_V','Crash_Fq_Adj','PI']]

,Int_ID,Traf_Ctrl,Leg_Count,AADT_Major,AADT_Minor,TotCrashes,CrashFreq,G_Crash_Fq_A,G_Crash_Fq_V,Crash_Fq_Adj,PI
Int_ID,,,,,,,,,,,
11,11,Signal,4,42000,1950,38,12.666667,6.128205,13.750712,9.752706,3.624501
9,9,Signal,4,47000,8500,37,12.333333,6.128205,13.750712,9.567928,3.439722
12,12,Signal,4,46000,18500,32,10.666667,6.128205,13.750712,8.644035,2.515830
2,2,TWSC,4,12000,1200,35,11.666667,7.142857,10.439153,8.571308,1.428451
7,7,TWSC,4,21000,1000,34,11.333333,7.142857,10.439153,8.466054,1.323196
1,1,Signal,4,30100,4800,22,7.333333,6.128205,13.750712,6.796250,0.668045
16,16,Signal,4,12400,7300,21,7.000000,6.128205,13.750712,6.611472,0.483267
3,3,TWSC,4,18000,800,23,7.666667,7.142857,10.439153,7.308257,0.165400
18,18,Signal,4,17600,4500,19,6.333333,6.128205,13.750712,6.241915,0.113710
10,10,TWSC,4,15000,1500,17,5.666667,7.142857,10.439153,6.676731,-0.466126
15,15,TWSC,4,26000,500,17,5.666667,7.142857,10.439153,6.676731,-0.466126
5,5,Signal,4,30700,18400,15,5.000000,6.128205,13.750712,5.502801,-0.625404
17,17,TWSC,4,14400,3200,13,4.333333,7.142857,10.439153,6.255714,-0.887143
4,4,Signal,4,11200,10900,13,4.333333,6.128205,13.750712,5.133244,-0.994961
19,19,TWSC,4,15400,2500,11,3.666667,7.142857,10.439153,6.045206,-1.097652
14,14,Signal,4,24800,21200,10,3.333333,6.128205,13.750712,4.578909,-1.549296
6,6,Signal,4,31500,3600,9,3.000000,6.128205,13.750712,4.394130,-1.734075
8,8,Signal,4,23800,22300,9,3.000000,6.128205,13.750712,4.394130,-1.734075
20,20,Signal,4,54500,5600,8,2.666667,6.128205,13.750712,4.209352,-1.918853
13,13,Signal,4,11400,11400,6,2.000000,6.128205,13.750712,3.839795,-2.288410

In [43]:
#4.4.2.7 LOSS
def SPF(row):
    if row.Traf_Ctrl == 'TWSC':
        a,b,c = -8.56,.6,.61
        cf = 1.7/4.06
    if row.Traf_Ctrl == 'Signal':
        a,b,c = -5.13,.6,.2
        cf = 0.4
    a_j = np.log(row.AADT_Major)
    a_n = np.log(row.AADT_Minor)
    spf = np.exp(a+b*a_j+c*a_n)
    return(spf*cf)
Int_DF['N_SPF'] = Int_DF.apply(SPF,axis=1)
Int_DF['k'] = pd.Series(pd.Series([0.4,0.11],index=['TWSC','Signal']).loc[Int_DF.Traf_Ctrl].tolist(),index=Int_DF.index)
Int_DF['SPF_STD'] = Int_DF.apply(lambda row:np.sqrt(row.k*row.N_SPF**2),axis=1)
Int_DF['LOSS I'] = Int_DF.apply(lambda row:pd.Interval(0,row.N_SPF-1.5*row.SPF_STD,'left'),axis=1)
Int_DF['LOSS II'] = Int_DF.apply(lambda row:pd.Interval(row.N_SPF-1.5*row.SPF_STD,row.N_SPF,'left'),axis=1)
Int_DF['LOSS III'] = Int_DF.apply(lambda row:pd.Interval(row.N_SPF,row.N_SPF+1.5*row.SPF_STD,'left'),axis=1)
Int_DF['LOSS IV'] = Int_DF.apply(lambda row:pd.Interval(row.N_SPF+1.5*row.SPF_STD,np.Inf,'left'),axis=1)
Int_DF['LOSS'] = Int_DF.apply(lambda row:list(set([loss if row.CrashFreq in row[loss] else 0 for loss in ['LOSS I','LOSS II', 'LOSS III', 'LOSS IV']]))[-1],axis=1)
Int_DF.sort_values('LOSS',ascending=False)[F1 + ['CrashFreq','N_SPF','SPF_STD','LOSS']]

,Int_ID,Traf_Ctrl,Leg_Count,AADT_Major,AADT_Minor,TotCrashes,CrashFreq,N_SPF,SPF_STD,LOSS
Int_ID,,,,,,,,,,
11,11,Signal,4,42000,1950,38,12.666667,6.398612,2.122180,LOSS IV
3,3,TWSC,4,18000,800,23,7.666667,1.692040,1.070140,LOSS IV
7,7,TWSC,4,21000,1000,34,11.333333,2.126639,1.345004,LOSS IV
16,16,Signal,4,12400,7300,21,7.000000,4.007254,1.329056,LOSS IV
15,15,TWSC,4,26000,500,17,5.666667,1.583864,1.001723,LOSS IV
10,10,TWSC,4,15000,1500,17,5.666667,2.225525,1.407546,LOSS IV
2,2,TWSC,4,12000,1200,35,11.666667,1.698914,1.074488,LOSS IV
12,12,Signal,4,46000,18500,32,10.666667,10.597864,3.514914,LOSS III
19,19,TWSC,4,15400,2500,11,3.666667,3.087578,1.952756,LOSS III
18,18,Signal,4,17600,4500,19,6.333333,4.488274,1.488592,LOSS III
17,17,TWSC,4,14400,3200,13,4.333333,3.447634,2.180475,LOSS III
1,1,Signal,4,30100,4800,22,7.333333,6.273609,2.080721,LOSS III
9,9,Signal,4,47000,8500,37,12.333333,9.189075,3.047671,LOSS III
4,4,Signal,4,11200,10900,13,4.333333,4.084561,1.354696,LOSS III
5,5,Signal,4,30700,18400,15,5.000000,8.305693,2.754687,LOSS II
13,13,Signal,4,11400,11400,6,2.000000,4.165366,1.381496,LOSS I
14,14,Signal,4,24800,21200,10,3.333333,7.517397,2.493238,LOSS I
8,8,Signal,4,23800,22300,9,3.000000,7.408605,2.457156,LOSS I
6,6,Signal,4,31500,3600,9,3.000000,6.086619,2.018703,LOSS I
20,20,Signal,4,54500,5600,8,2.666667,9.238571,3.064087,LOSS I

In [44]:
# 4.4.2.8 Excess Predicted Average Crash Fq.
Int_DF['ExcessPredCF'] = Int_DF.CrashFreq - Int_DF.N_SPF
Int_DF.sort_values('ExcessPredCF',ascending=False)[F1 + ['CrashFreq','N_SPF','ExcessPredCF']]

,Int_ID,Traf_Ctrl,Leg_Count,AADT_Major,AADT_Minor,TotCrashes,CrashFreq,N_SPF,ExcessPredCF
Int_ID,,,,,,,,,
2,2,TWSC,4,12000,1200,35,11.666667,1.698914,9.967753
7,7,TWSC,4,21000,1000,34,11.333333,2.126639,9.206695
11,11,Signal,4,42000,1950,38,12.666667,6.398612,6.268054
3,3,TWSC,4,18000,800,23,7.666667,1.692040,5.974627
15,15,TWSC,4,26000,500,17,5.666667,1.583864,4.082803
10,10,TWSC,4,15000,1500,17,5.666667,2.225525,3.441141
9,9,Signal,4,47000,8500,37,12.333333,9.189075,3.144258
16,16,Signal,4,12400,7300,21,7.000000,4.007254,2.992746
18,18,Signal,4,17600,4500,19,6.333333,4.488274,1.845059
1,1,Signal,4,30100,4800,22,7.333333,6.273609,1.059724
17,17,TWSC,4,14400,3200,13,4.333333,3.447634,0.885700
19,19,TWSC,4,15400,2500,11,3.666667,3.087578,0.579089
4,4,Signal,4,11200,10900,13,4.333333,4.084561,0.248772
12,12,Signal,4,46000,18500,32,10.666667,10.597864,0.068803
13,13,Signal,4,11400,11400,6,2.000000,4.165366,-2.165366
6,6,Signal,4,31500,3600,9,3.000000,6.086619,-3.086619
5,5,Signal,4,30700,18400,15,5.000000,8.305693,-3.305693
14,14,Signal,4,24800,21200,10,3.333333,7.517397,-4.184064
8,8,Signal,4,23800,22300,9,3.000000,7.408605,-4.408605
20,20,Signal,4,54500,5600,8,2.666667,9.238571,-6.571904